* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

.container {
	width: 612px;
	position: relative;
	min-height: max-content;
	padding-bottom: 1rem;
	max-width: calc(100% - 50px);
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	margin-top: 2rem;

	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(194, 198, 204, 0.6);
}

.loginCloseBtn {
	padding: 4px;
	position: absolute;
	font-size: 32px;
	color: #484848;
	top: 24px;
	right: 24px;
}

.loginCloseBtn:hover {
	cursor: pointer;
	opacity: 0.8;
}



.loginContainer {
	width: 100%;
	height: 100%;
	padding: 10px 2rem;
}

.loginContainerHeader {
	font-weight: bold;
	font-size: 18px;
	color: #484848;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #E0E2E6;
}

.loginContainerMail {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.loginContainerMailInputContainer {
	height: 60px;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
	border: 1px solid #ccc;
	border-radius: 999px;
}

.loginContainerPasswordInputContainer span {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #4173D8;
}

.loginContainerMailInput {
	border: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #484848;
	outline: none;
}

.loginContainerPassword {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.loginContainerPasswordInputContainer {
	height: 60px;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
	border: 1px solid #ccc;
	border-radius: 999px;
}

.loginContainerPasswordInputContainer span {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #4173D8;
}

.loginContainerPasswordInput {
	border: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #484848;
	outline: none;
}

.loginContainerAlert {
	width: 100%;
	font-weight: 500;
	font-size: 13px;
	color: red;
	padding-left: 12px;
}

.loginContainerConfirm {
	padding: 0 2rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.loginContainerMailMess {
	width: 100%;
	margin-top: 16px;
	margin-bottom: 25px;

	font-weight: 500;
	font-size: 13px;
	line-height: 15px;

	color: #4173D8;
	text-align: center;
}

.loginContainerBtn {
	width: 187px;
	height: 54px;

	background: #4173D8;
	border-radius: 30px;
	border: none;

	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #fff;

}

.loginContainerBtn:hover {
	cursor: pointer;
	background: #4173D8;
	opacity: 0.8;
}

.loginContainerElse {
	display: flex;
	align-items: center;
	padding: 5px 40px;
	width: 100%;
}

.spe-first {
	width: 15%;
	height: 1px;
	background: #E0E2E6;
}

.loginContainerElseText {
	height: 14px;
	width: 204px;
	margin: 0 10px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;

	color: #4173D8;
}

.spe-second {
	width: 85%;
	height: 1px;
	background: #E0E2E6;
}

.loginContainerElseBtn {
	width: 100%;
	height: auto;
	padding: 23px 40px 0px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.btn {
	height: 54px;
	border-radius: 30px;
	font-weight: 600;
	color: #484848;
	background-color: #e8eaec;
	line-height: 14px;
	font-size: 14px;

	border: none;
	padding: 0 30px;
	margin: 0 15px;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.btn:hover {
	background-color: #e8eaec;
	opacity: 0.8;
}

.loginContainerElseBtn i {
	margin-right: 6px;
}

.loadingWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.iconSpinner {
	color: #fff;
	font-size: 8px;
}