.hostRequest {
    background-image: url('https://images.alphacoders.com/528/528665.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem 4rem;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.hostRequestItems {
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hostRequestItems h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    width: 70%;
}

.hostRequestItems span {
    font-weight: 500;
    font-size: 15px;
}

.hostRequestBtn {
    height: 70px;
    background: #eca900;
    border-radius: 35px;
    width: 200px;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hostRequestBtn:hover {
    opacity: 0.9;
}

.hostRequestBtn span {
    font-weight: 600;
    font-size: 14px;
}

.hostRequestTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}


.hostRequestTitle h1 {
    width: 75%;
    font-weight: 800;
    font-size: 100px;
    line-height: 122px;
}