.step-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .step-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
    color: #484848;
    margin-right: 50px; /* Không có khoảng cách ở vòng tròn cuối cùng */
  }
   .step-item-image{
    background-image: url('https://icons.iconarchive.com/icons/paomedia/small-n-flat/128/sign-check-icon.png'); /* Đường dẫn đến hình ảnh */
    background-size:120%; /* Đảm bảo hình ảnh vừa với kích thước của phần tử */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center; /* Hiển thị hình ảnh ở giữa */
   }
  
  .step-item-last-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
    color: #484848;
    margin-right: 0; /* Không có khoảng cách ở vòng tròn cuối cùng */
  }
  
  .step-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50px; /* Chiều dài của gạch nối */
    height: 2px;
    background-color: #ccc;
  }
  .step-item-active {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #003580;
    /*background-color: #ccc;*/
    color: #003580;
    margin-right: 50px; /* Khoảng cách giữa các vòng tròn */
    background-color: #ccc; /* Màu sắc khi step-item được chọn (active) */
  }
  .step-item-active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50px; /* Chiều dài của gạch nối */
    height: 2px;
    background-color: #ccc;
  }
  
  .payment-text {
    text-align: center;
    line-height: 0.8;
    margin-top: 30px;
  }
  
  .payment-information-container {
    position: relative;
    width: 420px;
    height: 339px;
  }
  
  .text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20%;
    font-size: 15;
  }
  
  .bank {
    position: relative;
    left: 45%;
    width: 320px;
    height: 80px;
  }
  
  .bank label {
    display: block;
    margin-bottom: 10px;
  }
  
  .bank input {
    width: 100%;
  }
  
  .card-number {
    position: relative;
    left: 45%;
    width: 320px;
    height: 80px;
    margin-top: 15px;
  }
  
  .card-number label {
    display: block;
    margin-bottom: 10px;
  }
  
  .card number input {
    width: 100%;
  }
  
  .name {
    position: relative;
    left: 45%;
    width: 320px;
    height: 80px;
    margin-top: 15px;
  }
  
  .name label {
    display: block;
    margin-bottom: 10px;
  }
  
  .name input {
    width: 100%;
  }
  
  .transfer-proof {
    position: relative;
    left: 45%;
    width: 320px;
    height: 80px;
  }
  
  .continue-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    position: relative;
    width: 298px;
    height: 57px;
    border-radius: 10px;
    background: #003580;
    color: #ffffff;
    top: 20px;
  }
  