.bookingStep2Container {
  font-family: 'Montserrat';
  color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingStep2Content {
  margin-top: 2rem;
  width: 100%;
  /* border: 1px dashed red; */
  display: flex;
  justify-content: space-between;
}