.bookingStep1Container {
  font-family: 'Montserrat';
  color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingStep1Stepper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header-layout h2 {
  margin-top: 2rem;
  font-size: 28px;
  font-weight: 900;
}

.header-layout h4 {
  font-size: 16px;
  font-weight: 400;
  color: #9a9a9a;
}

.bookingStep1Content {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.image-container {
  margin-right: 5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  object-fit: cover;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.text-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
}

.left-text {
  float: left;
  text-align: left;
}

.right-text {
  float: right;
  margin-top: 20px;
  text-align: right;
}

.name-hotel {
  color: #003580;
  font-size: 20px;
  font-weight: 800;
}

.address {
  font-size: 14px;
}

.price {
  color: #003580;
  font-size: 15;
  font-weight: bolder;
}

.for {
  color: #aaa;
  font-size: 14;
}

.day {
  color: #003580;
  font-size: 15;
  font-weight: bolder;
}

.bed {
  font-size: 14px;
  font-weight: 600;
}

.input-container {
  width: 50%;
}

.bookingStep1Input {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.lable-custom {
  color: #003580;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
}

.input-custom {
  padding: 1rem;
  font-size: 14px;
  background-color: #e3e9f6;
  color: #003580;
  border: none;
  width: 320px;
  height: 40px;
  border-radius: 5px;
}

.input-custom:focus {
  outline: none;
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

.button-layout {
  margin-top: 2rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button-container {
  /* border: 1px dashed red; */
}


.skip-button {
  width: 200px;
  height: 60px;
  font-weight: 500;
  background: #003580;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

.cancel-button {
  width: 200px;
  height: 60px;
  font-weight: 500;
  background: #ddd;
  border-radius: 10px;
  border: none;
}

.skip-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}