.changePassword {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.changePasswordTitle h3 {
    font-size: 24px;
    font-weight: 900;
}

.horizontalLine {
    margin: 0.5rem 0;
    height: 1px;
    width: 90%;
    background: #7a7a7a;
}

.changePasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    /* border: 1px dashed red; */
}

.changePasswordInput {
    display: flex;
    flex-direction: column;
}

.changePasswordInput label {
    color: #2353b3;
    font-size: 16px;
    font-weight: 500;
}

.changePasswordInput input {
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 400;
    padding: 1rem;
    background: #eee;
    height: 40px;
    width: 400px;
}

.changePasswordBtn button {
    width: 120px;
    height: 50px;
    margin-top: 20px;
    background: #2353b3;
    color: #fff;
    border: none;
    border-radius: 99px;
    cursor: pointer;
}

.changePasswordBtn button:hover {
    opacity: 0.9;
}
