.hostReservationsContainer {
    padding: 4rem;
    padding-left: 10rem;
    color: #484848;
}

.hostReservationsTitle {
    /* border: 1px dashed red; */
    margin-bottom: 2rem;
}

.hostReservationsTitle p {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
}

.optionContainer {
    display: flex;
    gap: 2rem;
}

.optionBtn {
    background-color: #ffffff;
    color: #484848;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    cursor: pointer;
}

.optionBtn:hover {
    border-bottom: 1px solid #484848;
}

.optionBtn.active {
    border-bottom: 1px solid #484848;
}

.optionContainer {
    margin-left: 7%;
}