.user-review {
    width: 90%;
    position: relative;
    background-color: #EFF0F2;
    border-radius: 10px;
    margin-top: 20px;
    color: #484848;
}

.hotelIntroContainer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px dashed red; */
}

.hotel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.avt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 99px;
    background-color: #4270cb;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.hotelContent {
    margin-left: 10px;
}

.userReviewHotelName {
    font-size: 16px;
    font-weight: 800;
}

.address-hotel {
    margin-top: 3px;
    font-size: 13px;
    font-weight: 600;
}

.day-review {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 500;
}

.reviewContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}


.reviewsText {
    font-size: 16px;
    margin: 1rem;
    margin-top: 0;
}