.bookingOrderFinished {
    width: 90%;
    height: 100px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #484848;
}

.bookingOrderFinishedContainer {
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bookingOrderFinishedImgContainer {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.bookingOrderFinishedImgContainer img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.bookingOrderFinishedContentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.bookingOrderFinishedNameContainer p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}


.bookingOrderFinishedInfoContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.bookingOrderFinishedInfoContainer span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.bookingOrderFinishedCheckinContainer,
.bookingOrderFinishedDurationContainer,
.bookingOrderFinishedGuestsContainer {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.bookingOrderFinishedInfoContainer p {
    font-weight: 500;
    font-size: 13px;
    color: #9A9A9A;
}

.bookingOrderFinishedPriceContainer p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.bookingOrderFinishedStatusContainer {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border-radius: 99px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-left: 5rem;
}

.bookingOrderFinishedBtnReview {
    width: 150px;
    height: 50px;
    display: flex;
    font-family: "Montserrat";
    align-items: center;
    justify-content: center;
    background: #FDAB2C;
    border-radius: 99px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-left: 1rem;
}

.booking-review-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
    padding: 1rem;
    background: #deecf9;
    border-radius: 10px;
    gap: 1rem;
}

.ratingContainer {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.ratingTitle {
    font-size: 14px;
    font-weight: 500;
}

.reviewContainer {
    margin-top: 1rem;
    width: 800px;
    height: 50px;
    font-family: "Montserrat";
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.review-txt {
    width: 850px;
    border-bottom: none;
    word-wrap: break-word;
    font-size: 18px;
    color: #9A9A9A;
}

.date-review {
    color: #9A9A9A;
    margin-left: 2px;
}

.ratingAndReviewActions {
    /* border: 1px dashed red; */
    display: flex;
}

.send-btn {
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #0d5dcd;
    font-family: "Montserrat";
    border-radius: 99px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.bookingFinishedOrderBtn {
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #e24e4e;
    font-family: "Montserrat";
    border-radius: 99px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-left: 1rem;
}

.show-review-btn {
    width: 150px;
    height: 50px;
    display: flex;
    font-family: "Montserrat";
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-left: 1rem;
}

.reviewHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.finishedReviewContainer {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 800px;
    height: max-content;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}

.finishedReviewContainer p {
    color: #484848;
}

.bookingOrderFinishedStatusContainer.accepted {
    background-color: rgb(63, 160, 119);
}

.bookingOrderFinishedStatusContainer.rejected {
    background-color: rgb(243, 73, 73);
}