.feature {
    width: 80%;
    height: 400px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featureImg {
    width: 100%;
    position: relative;
}

.featureImg img {
    object-fit: cover;
}

.ratingStars {
    position: absolute;
    top: 1rem;
    left: 4rem;
}

.wishlistIcon {
    font-size: 30px;
    position: absolute;
    top: 1rem;
    right: 4rem;
    cursor: pointer;
}

.wishlistIcon:hover {
    opacity: 0.7;
}

.wishlistIcon.active {
    color: #ff3040;
}

.featureHotelInfo {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.6);
    border-radius: 6px;
}

.featureHotelName {
    width: 85%;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.featureHotelName a {
    text-decoration: none;  
    color: #484848;
    padding: 5px;
}

.featureHotelAddress {
    color: #484848;

}

.featureHotelName:hover {
    text-decoration: underline;
}

.featureHotelAddress {
    width: 85%;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
}