.mainlayout {
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 8fr;
    color: #484848;
}

.leftlayout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
}

.leftlayout span {
    font-size: 30px;
    font-weight: 900;
    margin-left: 15px;
}

.profileOptionItem {
    margin-right: 1rem;
    background-color: #fff;
    border: none;
    font-size: 16px;
    text-align: left;
    padding-left: 1rem;
    height: 40px;
    border-radius: 10px;
    transform: scale(0.98);
    background: transparent;
    cursor: pointer;
}

.profileOptionCancel {
    margin-right: 1rem;
    background-color: #cf7272;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-left: 1rem;
    height: 40px;
    border-radius: 10px;
    transform: scale(0.98);
    cursor: pointer;
}

.profileOptionItem:hover {
    background-color: #eee;
}

.profileOptionCancel:hover {
    background: #eb9d9d;
    color: #fff;
}

.profileOptionItem.active {
    background-color: #ddd;
}

.rightlayout {
    border-left: 1px solid #707070;
}