.downloadRequest {
    background-image: url('https://4kwallpapers.com/images/wallpapers/swimming-pool-spa-hotel-blue-water-reflections-peaceful-3440x1440-2595.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem 4rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.downloadRequestItems {
    padding: 4rem 5rem;
}

.downloadRequestItems h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    width: 70%;
}

.downloadRequestItems span {
    font-weight: 500;
    font-size: 15px;
}

.downloadPlatform {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button {
    padding: 1rem;
    background: #4173D8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button span {
    font-size: 14px;
    font-weight: 400;
}

.button:hover {
    opacity: 0.9;
}

.icon {
    font-size: 25px;
}

.phoneIcon {
    padding-right: 5rem;
    font-size: 225px;
}



