.header {
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.headerTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    padding-top: 8rem;
    color: #FFFFFF;
}

.headerSearch {
    width: 50%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.headerSearchBar {
    width: 100%;
    height: 80px;
    border-radius: 99px;
    background-color: #fff;
    color: #484848;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerSearchItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1rem;
}

.headerSearchItemTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #484848;
}

.headerSearchItem span {
    font-size: 15px;
    line-height: 17px;
    cursor: pointer;
}

.headerSearchInput {
    width: 110%;
    font-size: 20px;
    line-height: 17px;
    font-weight: 600;
    color: #484848;
    border: none;
    outline: none;
}

.headerSearchText {
    font-weight: 600;
    font-size: 20px;
    color: #484848;
    cursor: pointer;
}

.headerSearchPriceTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headerSearchPriceTag span {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.headerSearchPriceSlider {
    width: 100%;
}


.headerSearchBtn {
    background: #FDC32D;
    color: #fff;
    font-size: 23px;
    margin-right: 0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.headerSearchBtn:hover {
    background: #ffb700;
}