.header {
    width: 100%;
    /* background-color: #003580; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.headerTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    padding-top: 8rem;
    color: #FFFFFF;
}

.headerSearch {
    width: 70%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.headerSearchBar {
    width: 100%;
    height: 80px;
    border-radius: 40px;
    background-color: #fff;
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSearchItem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3rem;
}

.headerSearchItemTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    color: #484848;
}

.headerSearchItem span {
    font-size: 18px;
    line-height: 17px;
    cursor: pointer;
}

.headerSearchInput {
    font-family: 'Montserrat';
    width: 110%;
    font-size: 18px;
    line-height: 17px;
    font-weight: 600;
    color: #484848;
    border: none;
    outline: none;
}

.headerSearchText {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #484848;
    cursor: pointer;
}

.headerSearchBtn {
    background: #FDC32D;
    color: #fff;
    font-size: 23px;
    margin-right: 0.5rem;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 500px;
    font-family: 'Montserrat', sans-serif;
}

.options {
    position: absolute;
    top: 500px;
    background: #fff;
    color: #484848;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.optionCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    gap: 15px;
    font-size: 13px;
    color: #484848;
}

.optionCounterBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    background-color: #fff;
    cursor: pointer;
}

.optionCounterBtn:disabled {
    cursor: not-allowed;
}