* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.all-reviews-layout {
    padding: 2rem;
    width: 1300px;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(194, 198, 204, 0.6);
}

.allReviewsUser {
    padding: 0 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
    font-weight: 800;
}

.horizontalVector {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
}

.allReviewsCloseBtn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 30px;
    cursor: pointer;
}

.reviews-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 600px;
    overflow: auto;
}