* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.login2Container {
    width: 612px;
    height: max-content;
    padding-bottom: 1rem;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin-top: 2rem;

    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(194, 198, 204, 0.6);
}

.login2Header {
    width: 100%;
    height: 100%;
    padding: 10px 2rem;
}

.login2Title {
    font-weight: bold;
    font-size: 18px;
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #E0E2E6;
}

.login2Login {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login2Hello {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.login2Avt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #bbb;
}

.login2Hello h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #484848;
}

.login2Hello span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #4173D8;
    cursor: pointer;
}

.login2Password {
    height: 60px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 999px;
}

.login2Password span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4173D8;
}

.login2Password input {
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #484848;
    outline: none;
}

.login2Login>span {
    padding-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4173D8;
    cursor: pointer;
}

.login2LoginBtn {
    /* margin-top: 10px; */
    width: 170px;
    height: 54px;
    border-radius: 999px;
    font-weight: 600;
    color: #fff;
    background-color: #4173D8;
    line-height: 14px;
    font-size: 14px;
    border: none;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.login2LoginBtn:hover {
    background: #4173D8;
    opacity: 0.8;
}

.login2CloseBtn {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 30px;
    cursor: pointer;
}