.header_bg {
    background-image: url('https://wallpapershome.com/images/pages/pic_h/5398.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutusContentContainer {
    padding-top: 3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.aboutusContent {
    width: 64%;
    height: 600px;
    background: #003580;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.aboutusContent h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 98px;
    color: #FFFFFF;
}

.exploreBtn {
    padding: 1.25rem;
    width: 175px;
    background: #fdad2d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    cursor: pointer;
}

.exploreBtn a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.exploreBtn:hover {
    opacity: 0.8;
}

.aboutusContent p {
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}

.aboutusBigImg {
    width: 700px;
    height: 600px;
}

.aboutusBigImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}