.header_bg {
    background-image: url('https://www.itl.cat/pngfile/big/194-1945023_sea-pacific-ocean-lights-night-sky-maldives-at.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}