.header_bg {
    background-image: url('https://wallpapershome.com/images/pages/pic_h/5398.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutusContentContainer {
    padding-top: 3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    color: #fff;
}

.aboutusContent {
    width: 64%;
    height: 600px;
    background: #003580;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.aboutusContent h2 {
    font-weight: 900;
    font-size: 40px;
    line-height: 98px;
}

.aboutusContent p {
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
}

.exploreBtn {
    margin-top: 2rem;
    padding: 1rem;
    width: 150px;
    background: #fdad2d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    cursor: pointer;
}

.exploreBtn span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.exploreBtn:hover {
    opacity: 0.8;
}


.aboutusBigImg {
    width: 700px;
    height: 600px;
}

.aboutusBigImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}