.browseRequest {
    background-image: url('https://wallpaper.dog/large/20517137.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem 4rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
}

.browseRequestItems {
    padding: 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.browseRequestItems h3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 50px;
    width: 75%;
}

.browseRequestItems span {
    font-weight: 500;
    font-size: 15px;
}

.browseRequestBtn {
    height: 70px;
    background: #4173D8;
    border-radius: 35px;
    width: 200px;
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browseRequestBtn:hover {
    opacity: 0.9;
}

.browseRequestBtn span {
    font-weight: 600;
    font-size: 14px;
}

.browseRequestTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}


.browseRequestTitle h1 {
    width: 80%;
    font-weight: 800;
    font-size: 100px;
    line-height: 122px;
}